* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #6f34fe;
  --second-color: #fca61e;
  --third-color: #ffffff;
  --text-color: #637381;
}

html {
  font-family: "Public Sans";
  font-size: 10px;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5;
}

h1 {
  font-size: 8.5rem;
  font-weight: 800;
}

h2 {
  font-size: 5.2rem;
  font-weight: 600;
}

h3 {
  font-size: 4.8rem;
  font-weight: 800;
}

h5 {
  font-size: 3.2rem;
  font-weight: 700;
}

h6 {
  font-size: 2.4rem;
}

p {
  font-size: 2.2rem;
  color: var(--text-color);
  font-weight: 400;
}

b {
  font-size: 2rem;
}

button {
  color: white;
  background-color: var(--second-color);
  padding: 11px 22px;
  border-radius: 12px;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
}

.hover-purple {
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.hover-purple:hover {
  background-color: var(--primary-color);
}

.container {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
footer,
section {
  width: 100%;
}

header,
.scores,
.div2,
.contact {
  background-color: white;
}

header {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 20px 0;
}

header p {
  color: black;
  font-size: 2rem;
  font-weight: 600;
}

/* HEADER */

#left {
  display: flex;
  justify-content: center;
  align-items: center;
}

#left img,
#left p {
  display: inline-block;
  margin: 0 5px;
}

#left img {
  width: 48px;
  height: 48px;
}

#right {
  display: flex;
  align-items: center;
}

#right button {
  font-size: 1.5rem;
}

.arrow {
  margin-left: 8px;
}

/* INTRO */

.intro {
  margin-top: 88px;
  padding: 50px 0;
  width: 100%;
  background-image: url(proj-img/intro-bgr.png);
  background-size: cover;
  background-position: center;
}

#intro-text,
#intro-img {
  float: left;
  width: 49%;
}

#intro-text {
  flex-direction: column;
  justify-content: center;
}

#intro-text h1 {
  color: var(--primary-color);
}

#intro-text button {
  margin-top: 20px;
}

#intro-img img {
  width: 100%;
  height: 100%;
}

/* ABOUT */

.about {
  background-color: #f2f2fe;
  height: auto;
}

#about-img,
#about-text {
  float: left;
  width: 49%;
  height: auto;
  padding: 12.5% 0;
}

#about-img img {
  width: 90%;
  height: 100%;
}

#about-text p {
  margin: 10px 0;
}

#about-text #text {
  margin: 20px 0;
}

#about-text h3 {
  color: var(--primary-color);
}

#about-text span {
  color: var(--second-color);
}

#about-text p {
  display: inline-block;
}

#about-text b {
  margin-left: 10px;
}

#about-text i {
  padding: 15px;
  font-size: 3.2rem;
  color: var(--text-color);
}

#about-text #facebook {
  padding-left: 0;
}

/* ACHIEVEMENTS */

.achieve {
  height: auto;
  padding: 10% 0;
}

.achieve-container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.achieve-container p,
.achieve-container h3 {
  text-align: center;
}

.title-p {
  color: var(--primary-color);
  font-size: 2.4rem;
  font-weight: 600;
}

#box {
  margin: 20px 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box div {
  width: auto;
  height: auto;
  background-color: var(--primary-color);
  border-radius: 16px;
  margin: 15px;
}

#box p {
  color: white;
  padding: 25px 25px;
}

/* HOBBY */

.hobby {
  height: auto;
  background-image: url(proj-img/hobby-bgr.png);
  background-size: cover;
  background-position: center;
}

#hobby-img,
#hobby-text {
  float: left;
  width: 49%;
  padding: 12.5% 0;
}

#col-1,
#col-2 {
  display: column;
  width: 50%;
  float: left;
}

#col-1 img {
  padding-bottom: 20px;
}

#col-2 img {
  padding-top: 20px;
}

#hobby-text h3 {
  margin: 10px 0;
}

#hobby-text p {
  margin-top: 10px;
}

/* CREATIVE */

.creative {
  height: auto;
  position: relative;
}

#purple {
  width: 100%;
  height: 45%;
  background-color: #6f34fe;
  position: absolute;
  top: 0;
  z-index: -1;
}

.creative-container {
  height: auto;
  padding: 8% 0;
}

span ~ p,
.creative-container > h3 {
  color: white;
  text-align: center;
}

#creative-content {
  display: flex;
  justify-content: space-between;
}

#left-col,
#right-col {
  float: left;
  width: 48%;
}

#left-col img,
#right-col img {
  width: 100%;
  margin: 50px 0 20px 0;
}

#left-col p,
#left-col h5,
#right-col p,
#right-col h5 {
  text-align: center;
}

#left-col h5,
#right-col h5 {
  margin: 30px 0;
}

#creative-text {
  width: 65%;
  margin: 50px auto;
}

#creative-text p {
  text-align: center;
}

/* NEWS */

.news {
  height: 1018px;
  background-image: url(proj-img/news-bgr.png);
  background-size: cover;
  background-position: center;
}

.news-container {
  height: auto;
  padding: 10% 0;
}

.news-container > p,
.news-container > h3 {
  text-align: center;
}

.slide-img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
  height: 40%;
  border-radius: 20px;
  overflow: hidden;
}

.swiper-slide p {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 8px 0;
}

.swiper-slide button {
  font-size: 1.5rem;
  color: var(--second-color);
  background-color: transparent;
  padding-left: 0;
}

.swiper-slide:hover button {
  text-decoration: underline;
}

.swiper-slide:hover img {
  transform: scale(1.1);
}

/* --- */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding: 16px;
  cursor: pointer;
  height: auto !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: var(--primary-color) !important;
}

.swiper-wrapper {
  /* height: 500px!important; */
  margin-bottom: 48px;
}

/* CONTACT */

.contact {
  height: auto;
}

.contact-container {
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 10% 0;
}

#contact-text,
#contact-form {
  float: left;
  width: 45%;
}

#contact-text p {
  display: inline-block;
  margin: 10px 0;
}

#contact-text b {
  margin-left: 10px;
}

.line {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.fill {
  width: 47.5%;
}

#contact-form label {
  font-size: 1.8rem;
  color: #212b36;
}

#contact-form input,
#contact-form textarea {
  border-radius: 8px;
  background-color: #f2f2fe;
  border: none;
  height: 4rem;
  padding-left: 10px;
  margin: 5px 0;
}

input::placeholder,
textarea::placeholder {
  color: #637381;
}

#contact-form textarea {
  height: 8rem;
  padding-top: 10px;
  padding-left: 10px;
}

.fill input {
  width: 100%;
}

#contact-form textarea,
#contact-form button {
  width: 100%;
  font-family: public sans;
}

#contact-form button {
  margin-top: 20px;
}

/* FOOTER */

footer {
  height: auto;
  background-color: #381a7f;
  color: var(--third-color);
  padding-top: 64px;
}

#footer-logo {
  display: flex;
  justify-content: center;
}

#footer-logo img {
  width: 80px;
  height: 80px;
}

footer h5 {
  text-align: center;
  margin: 12px 0;
}

footer i {
  color: var(--third-color);
  font-size: 3.2rem;
  margin: 0 16px;
}

#footer-icon {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 64px;
}

#copyright {
  border-top: 1px solid #6f34fe;
}

#copyright p {
  text-align: center;
  font-size: 1.6rem;
  padding: 22px 0;
  color: #919eab;
  font-weight: 400;
}

/* --- */

#arrow {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  background-color: var(--second-color);
  padding: 0;
  font-size: 25px;
  right: 48px;
  bottom: 48px;
  position: fixed;
  z-index: 100;
  animation: updown 2s infinite;
}

@keyframes updown {
  from {
    bottom: 48px;
  }
  50% {
    bottom: 64px;
  }
  to {
    bottom: 48px;
  }
}
